* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100%;
    height: 100vh;
}

/* Header */
header {
    grid-area: 1/ span 13;
    grid-row: 1/ 2;
    background: #031bcf;
    color: white;
    text-align: center;
}

/* Nav */
nav {
    align-content: center;
    grid-area: 1/ span 13;
    grid-row: 11/12;
    background: #02b3c3;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

img {
    width: 150px
}

/* Left Sidebar */
.aside_left {
    grid-area: 1/ span 2;
    grid-row: 2/ 11;
    background: #ddd;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    text-align: center;
}

.profile {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.right_content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.right_content a {
    color: black;
    text-decoration: none;
    list-style: none;
    background-color: #ddd;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid white;
}

.right_content a:hover {
    background-color: white;
}

.content section {
    width: 90%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    align-items: center;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

/* Main Content */
.content {
    grid-area: 1/ span 9;
    grid-row: 2/ 11;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
    align-items: center;

}

.content section h2 {
    width: 100%;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 100%;
}

.product .prod_info {
    height: 80%;
}

.product img {
    max-width: 100%;
    height: 180px;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

button {
    margin-top: 10px;
    background: #3d07f0;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;

}

button:hover {
    background: #0d1bdd;
}

/* Right Sidebar */
.aside_right {
    grid-area: 11/ span 13;
    grid-row: 2/11;
    background: #ddd;
    padding: 15px;
}

/* Footer */
footer {
    grid-area: 1/ span 13;
    grid-row: 12/13;
    background: #031bcf;
    color: white;
    text-align: center;
    padding: 10px;
    align-content: center;
}

@media (min-width: 360px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        width: 100%;
    }

    header {
        grid-column: 1/2;
        grid-row: 1/2;
        align-content: center;
    }

    .profile {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    .right_content {
        gap: 5px;
    }

    .aside_left {
        grid-column: 1/2;
        grid-row: 2/3;
        flex-direction: column;
        justify-content: space-around;
    }

    .aside_left h3 {
        text-align: left;
    }

    .aside_left img {
        width: 50px;
    }

    section {
        height: 100%;
        width: 100%;
        padding: 5px;

    }

    .products {
        flex-direction: column;
    }

    .products img {
        width: 30%;
    }

    .content {
        grid-column: 1/2;
        grid-row: 3/10;
        width: 100%;
    }

    nav {
        grid-column: 1/2;
        grid-row: 11/12;
    }

    .aside_right {
        grid-column: 1/2;
        grid-row: 10/11;
    }

    .aside_left .right_content {
        width: 100%;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }

    footer {
        grid-column: 1/2;
        grid-row: 12/13;
    }
}

@media (min-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        width: 100%;
    }

    header {
        grid-column: 1/2;
        grid-row: 1/2;
        align-content: center;
    }

    .right_content {
        gap: 5px;
    }

    .aside_left {
        grid-column: 1/2;
        grid-row: 2/3;
        flex-direction: column;
        justify-content: space-around;
    }

    .aside_left h3 {
        text-align: left;
    }

    .aside_left img {
        width: 50px;
    }

    section {
        height: 100%;
        width: 100%;
        padding: 5px;

    }

    .products {
        flex-direction: column;
    }

    .products img {
        width: 40%;
        height: auto;
    }

    .content {
        grid-column: 1/2;
        grid-row: 3/10;
        width: 100%;
    }

    nav {
        grid-column: 1/2;
        grid-row: 11/12;
    }

    .aside_right {
        grid-column: 1/2;
        grid-row: 10/11;
    }

    .aside_left .right_content {
        width: 100%;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }

    footer {
        grid-column: 1/2;
        grid-row: 12/13;
    }
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(12, 1fr);
        width: 100%;
    }

    header {
        grid-area: 1/ span 4;
        grid-row: 1/2;
        align-content: center;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .right_content {
        gap: 5px;
    }

    .aside_left {
        grid-column: 1/2;
        grid-row: 2/10;
        flex-direction: column;
        justify-content: space-around;
    }

    .aside_left h3 {
        text-align: left;
    }

    .aside_left img {
        width: 150px;
    }

    section {
        height: 100%;
        width: 100%;
        padding: 5px;

    }

    .products {
        flex-direction: column;
    }

    .products img {
        width: 40%;
        height: auto;
    }

    .content {
        grid-column: 2/4;
        grid-row: 2/11;
        width: 100%;
    }

    nav {
        grid-column: 1/4;
        grid-row: 11/12;
    }

    .aside_right {
        grid-column: 1/2;
        grid-row: 10/11;
    }

    .aside_left .right_content {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    footer {
        grid-column: 1/4;
        grid-row: 12/13;
    }
}

@media (min-width: 922px) {
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        width: 100%;
        height: 100vh;
    }

    /* Header */
    header {
        grid-area: 1/ span 13;
        grid-row: 1/ 2;
        background: #031bcf;
        color: white;
        text-align: center;
    }

    /* Nav */
    nav {
        align-content: center;
        grid-area: 1/ span 13;
        grid-row: 11/12;
        background: #02b3c3;
        color: white;
        padding: 10px;
        text-align: center;
    }

    nav a {
        color: white;
        margin: 0 15px;
        text-decoration: none;
    }

    nav a:hover {
        text-decoration: underline;
    }

    .aside_left img {
        width: 100px
    }

    .aside_left h3 {
        font-size: small;
    }

    /* Left Sidebar */
    .aside_left {
        grid-area: 1/ span 2;
        grid-row: 2/ 11;
        background: #ddd;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        text-align: center;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .right_content {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .right_content a {
        color: black;
        text-decoration: none;
        list-style: none;
        background-color: #ddd;
        margin-top: 15px;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid white;
    }

    .right_content a:hover {
        background-color: white;
    }

    .content section {
        width: 99%;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    .products {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: auto;
    }

    /* Main Content */
    .content {
        grid-area: 1/ span 9;
        grid-row: 2/ 11;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: scroll;
        scrollbar-width: none;
        align-items: center;
        height: auto;
    }

    .content section h2 {
        width: 100%;
    }

    .product {
        background: white;
        padding: 10px;
        border-radius: 8px;
        display: inline-block;
        margin: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        height: auto;
        width: 30%;
    }

    .product img {
        width: 30%;
        height: auto;
        object-fit: cover;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

    }

    .btn_choice {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    button {
        background: #3d07f0;
        color: white;
        border: none;
        padding: 8px;
        border-radius: 5px;
        cursor: pointer;
        font-size:xx-small;
        width: 40%;
        height: 30%;
    }

    button:hover {
        background: #0d1bdd;
    }

    /* Right Sidebar */
    .aside_right {
        grid-area: 11/ span 13;
        grid-row: 2/11;
        background: #ddd;
        padding: 15px;
    }

    .aside_right .promo h3,
    p {
        word-wrap: break-word;
    }

    /* Footer */
    footer {
        grid-area: 1/ span 13;
        grid-row: 12/13;
        background: #031bcf;
        color: white;
        text-align: center;
        padding: 10px;
        align-content: center;
    }
}